.TodoListWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.TodoList {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.TodoContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 4rem;
    padding: 10px 20px;
    border-radius: var(--round);
    background-color: var(--bg-gray);
}
.TodoItem {
    display: flex;
    flex-direction: row;
}
.TodoTitle {
    width: 100%;
}
.ActionContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}
.Actions {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media screen and (max-width: 800px) {
    .TodoItem {
        gap: 10px;
        flex-wrap: wrap;
    }
}
