.Search {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.RefList {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}
.RefItem:hover {
    cursor: pointer;
    color: #5b5b5c;
}
