.Finished {
    text-decoration-line: line-through;
    text-decoration-color: red;
    text-decoration-thickness: 3px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.Input {
    margin-right: 10px;
}
