.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.TodoList {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}
.TodoItem {
    width: 100%;
}
