.Layout {
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
    padding: 5rem 5rem;
}

@media screen and (max-width: 480px) {
    .Layout {
        padding: 1rem 1rem;
    }
}
@media screen and (max-width: 768px) {
    .Layout {
        padding: 2rem 1rem;
    }
}
@media screen and (max-width: 1024px) {
    .Layout {
        padding: 5rem 1rem;
    }
}
