:root {
    /* colors */
    --bg-gray: #edede4;
    --text: #000;
    --primary: #b3b2af;
    --secondary: #e37f7f;
    --tertiary: #adadaa;
    --box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    --round: 5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    padding: ;
}

.container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.container-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.checkbox-finished {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    background-color: pink;
    border-radius: 10px;
}
